-- Chapter 4 Exercise 1
-- Propositon 
-- There exists rows in the Order table from the Sales schema
-- such that we will filter to show the latest order date

In [ ]:
USE Northwinds2022TSQLV7

SELECT orderid, orderdate, CustomerId, EmployeeId

FROM Sales.[Order]

WHERE orderdate =  (SELECT MAX(orderdate) FROM Sales.[Order])

Order By OrderId DESC

-- Chapter 4 Exercise 3
-- Propositon 
-- There exists rows in the Order table from the Sales schema
-- such that we will filter to show only the dates on or after May 1 2016

In [ ]:
USE Northwinds2022TSQLV7

SELECT HumanResources.Employee.EmployeeId, EmployeeFirstName, EmployeeLastName

From HumanResources.Employee

WHERE HumanResources.Employee.EmployeeId NOT IN

(SELECT DISTINCT  O.EmployeeId FROM Sales.[Order] as O 

WHERE O.OrderDate >= '20160501'

)

Chapter 4 Sample Code #1
---------------------------------------------------------------------
-- Scalar Subqueries
---------------------------------------------------------------------

--Proposition Find the order with the maximum order ID from the 'Sales.Orders' table and retrieve its order details."

In [ ]:
USE Northwinds2022TSQLV7

-- Order with the maximum order ID
DECLARE @maxid AS INT = (SELECT MAX(orderid)
                         FROM Sales.[Order]);

SELECT OrderID, OrderDate, EmployeeID, CustomerId
FROM Sales.[Order]
WHERE OrderID = @maxid;
GO

Chapter 4 Sample Code #2

---------------------------------------------------------------------
-- Scalar Subqueries
---------------------------------------------------------------------

--Proposition Retrieve the order details (orderid, orderdate, employeeid, customerid) from the 'Sales.Orders' table
-- where the orderid is equal to the maximum orderid found in the same table."

In [ ]:
USE Northwinds2022TSQLV7

SELECT orderid, orderdate, EmployeeId, CustomerId
FROM Sales.[Order]
WHERE orderid = (SELECT MAX(O.orderid)
                 FROM Sales.[Order] AS O);

Chapter 4 Sample Code #3

---------------------------------------------------------------------
-- Scalar Subqueries
---------------------------------------------------------------------

--Proposition Retrieve the order IDs from the 'Sales.Orders' table for orders
-- associated with employees whose last names start with 'C' (case-insensitive)."

-- Scalar subquery expected to return one value

In [ ]:
USE Northwinds2022TSQLV7

SELECT orderid
FROM Sales.[Order]
WHERE EmployeeId IN
  (SELECT E.EmployeeId
   FROM HumanResources.Employee AS E
   WHERE E.EmployeeLastName LIKE N'C%');
GO

Chapter 4 Sample Code #4

---------------------------------------------------------------------
-- Scalar Subqueries
---------------------------------------------------------------------

--Proposition Retrieve the order IDs from the 'Sales.Orders' table for orders
-- associated with employees whose last names start with 'D' (case-insensitive)."

-- Scalar subquery expected to return one value

In [ ]:
USE Northwinds2022TSQLV7

SELECT orderid
FROM Sales.[Order]
WHERE EmployeeId IN
  (SELECT E.EmployeeId
   FROM HumanResources.Employee AS E
   WHERE E.EmployeeLastName LIKE N'D%');
GO

Chapter 4 Sample Code #5

---------------------------------------------------------------------
-- Scalar Subqueries
---------------------------------------------------------------------

--Proposition Retrieve the order IDs from the 'Sales.Orders' table for orders
-- associated with employees whose last names start with 'A' (case-insensitive)."

-- Scalar subquery expected to return one value

In [ ]:
USE Northwinds2022TSQLV7


SELECT orderid
FROM Sales.[Order]
WHERE EmployeeId IN
  (SELECT E.EmployeeId
   FROM HumanResources.Employee AS E
   WHERE E.EmployeeLastName LIKE N'A%');
GO

Chapter 4 Sample Code #6

---------------------------------------------------------------------
-- Multi-Valued Subqueries
---------------------------------------------------------------------

--Proposition Retrieve the order IDs from the 'Sales.Orders' table for orders
-- associated with employees whose last names start with 'D' (case-insensitive)."

In [ ]:
USE Northwinds2022TSQLV7


SELECT OrderId
FROM Sales.[Order]
WHERE EmployeeId IN
  (SELECT E.EmployeeId
   FROM HumanResources.Employee AS E

   WHERE E.EmployeeLastName LIKE N'D%');

Chapter 4 Sample Code #7

---------------------------------------------------------------------
-- Multi-Valued Subqueries
---------------------------------------------------------------------

--Proposition Retrieve the order IDs from the 'Sales.Orders' table for orders
-- associated with employees whose last names start with 'D' (case-insensitive)."

In [ ]:
USE Northwinds2022TSQLV7

SELECT O.orderid
FROM HumanResources.Employee AS E
  INNER JOIN Sales.[Order] AS O
    ON E.EmployeeId = O.EmployeeId
WHERE E.EmployeeLastName LIKE N'D%';

Chapter 4 Sample Code #8

---------------------------------------------------------------------
-- Multi-Valued Subqueries
---------------------------------------------------------------------

--Retrieve the customer IDs (custid), order IDs (orderid), order dates (orderdate),
--and employee IDs (empid) from the 'Sales.Orders' table for orders placed by customers located in the USA."

-- Orders placed by US customers

In [ ]:
USE Northwinds2022TSQLV7

SELECT CustomerId, OrderId, OrderDate, EmployeeId
FROM Sales.[Order]
WHERE CustomerID IN
  (SELECT C.CustomerId
   FROM Sales.[Customer] AS C
   WHERE C.CustomerCountry = N'USA');

Chapter 4 Sample Code #9

---------------------------------------------------------------------
-- Multi-Valued Subqueries
---------------------------------------------------------------------

-- Proposition "Retrieve the customer IDs (custid) and company names (companyname) from the 'Sales.Customers' table 
-- for customers who have not placed any orders in the 'Sales.Orders' table."

-- Customers who placed no orders

In [ ]:
USE Northwinds2022TSQLV7

SELECT CustomerId, CustomerCompanyName
FROM Sales.Customer
WHERE CustomerId NOT IN
  (SELECT O.CustomerId
   FROM Sales.[Order] AS O);

Chapter 4 Sample Code #10

---------------------------------------------------------------------
-- Multi-Valued Subqueries
---------------------------------------------------------------------

--Proposition "Find missing order IDs within a specific range of order IDs and
-- identify those that are not present in the 'dbo.Orders' table."

-- Missing order IDs

In [ ]:
USE Northwinds2022TSQLV7

DROP TABLE IF EXISTS dbo.Orders;
CREATE TABLE dbo.Orders(orderid INT NOT NULL CONSTRAINT PK_Orders PRIMARY KEY);

INSERT INTO dbo.Orders(orderid)
  SELECT OrderId
  FROM Sales.[Order]
  WHERE orderid % 2 = 0;

SELECT n
FROM dbo.Nums
WHERE n BETWEEN (SELECT MIN(O.orderid) FROM dbo.Orders AS O)
            AND (SELECT MAX(O.orderid) FROM dbo.Orders AS O)
  AND n NOT IN (SELECT O.orderid FROM dbo.Orders AS O);

-- CLeanup
DROP TABLE IF EXISTS dbo.Orders;

-- Homework 5 Excercise 1
-- Proposition Retrieve all records from the view 'Sales.VEmpOrders' 
-- and arrange them in ascending order by 'empid' and 'orderyear'."
-- Ascending order is by default

In [ ]:
Drop VIEW IF EXISTS Sales.VEmpOrders;
GO
CREATE VIEW Sales.VEmpOrders
AS
SELECT
    EmployeeId,
    YEAR(orderdate) AS orderyear,
    SUM(Quantity) AS total_quantity
FROM
    Sales.[Order] AS O 
	INNER JOIN Sales.OrderDetail AS OD
	ON O.orderid = OD.orderid
GROUP BY
    EmployeeId,
    YEAR(OrderDate);
GO

-- table expression
-- querying the view with specified ordering
SELECT * FROM Sales.VEmpOrders ORDER BY EmployeeId ASC, orderyear;

Chapter 5 Exercise 2
-- Proposition Calculate a running total of the 'total_quantity' for each employee and year in the 'Sales.VEmpOrders' view. For each row in the  result, sum the 'total_quantity' values for that employee up to and including the current year."

In [ ]:
USE Northwinds2022TSQLV7

Select EmployeeId, orderyear, total_quantity,

(SELECT SUM(total_quantity)
FROM Sales.VEmpOrders AS V2
WHERE V2.EmployeeId = V1.EmployeeId
AND V2.orderyear <= V1.orderyear) AS runqty
FROM Sales.VEmpOrders AS V1
ORDER BY EmployeeId, orderyear;


 Chapter 5 Sample Code #1
 --Proposition "Calculate the year-over-year growth of the number of distinct customers 
 --who placed orders for each year in the 'Sales.[Order]' table."

---------------------------------------------------------------------
-- Multiple References
---------------------------------------------------------------------

In [ ]:
USE Northwinds2022TSQLV7

WITH USACusts AS
(
  SELECT CustomerId, CustomerCompanyName
  FROM Sales.[Customer]
  WHERE CustomerCountry = N'USA'
)
SELECT * FROM USACusts;

Chapter 5 Sample Code #2
---------------------------------------------------------------------
-- SCHEMABINDING
---------------------------------------------------------------------

-- Proposition "Create a schema-bound view named 'Sales.USACusts' that selects specific columns from the 
-- 'Sales.Customers' table for customers located in the USA. Additionally, demonstrate that schema binding 
-- restricts schema changes by attempting to drop a column from the 'Sales.Customers' table and observing any errors."

-- Create the USA Custs View

---------------------------------------------------------------------
-- Views Described
---------------------------------------------------------------------

In [ ]:
-- Creating USACusts View
DROP VIEW IF EXISTS Sales.USACusts;
GO
CREATE VIEW Sales.USACusts
AS

SELECT
  CustomerId, CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress,
  CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, CustomerFaxNumber
FROM Sales.Customer
WHERE CustomerCountry = N'USA';
GO

SELECT CustomerId, 
FROM Sales.USACusts;
GO

-- after creating USACusts view run the code below

ALTER VIEW Sales.USACusts WITH SCHEMABINDING
AS

SELECT
  CustomerId, CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress,
  CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, CustomerFaxNumber
FROM Sales.Customer
WHERE CustomerCountry = N'USA';
GO

-- Try a schema change
/*
ALTER TABLE Sales.Customers DROP COLUMN address;
*/
GO

Chapter 5 Sample Code #3


---------------------------------------------------------------------
-- SCHEMABINDING
---------------------------------------------------------------------

-- Proposition "Create a schema-bound view named 'Sales.USACusts' that selects specific columns from the 
-- 'Sales.Customers' table for customers located in the USA. Additionally, demonstrate that schema binding 
-- restricts schema changes by attempting to drop a column from the 'Sales.Customers' table and observing any errors."



---------------------------------------------------------------------
-- Views Described
---------------------------------------------------------------------

In [ ]:
---------------------------------------------------------------------
-- Views Described
---------------------------------------------------------------------



-- Drop the existing view if it exists
IF OBJECT_ID('Sales.USACusts', 'V') IS NOT NULL
    DROP VIEW Sales.USACusts;
GO

-- Create the view with schema binding
CREATE VIEW Sales.USACusts WITH SCHEMABINDING
AS
SELECT
  CustomerId, CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress,
  CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, CustomerFaxNumber
FROM Sales.Customer
WHERE CustomerCountry = N'USA';
GO

Chapter 5 Sample Code #4

---------------------------------------------------------------------
-- CHECK OPTION
---------------------------------------------------------------------

-- Propositon Demonstrate the behavior of a view named 'Sales.USACusts' before and after adding the CHECK OPTION clause. 
--Initially, insert a row through the view and observe that it is accepted but not visible when querying the view. 
--Then, add the CHECK OPTION to the view, attempt to insert another row through the view, and observe that it is prevented due to the CHECK OPTION.
--Finally, clean up the data by deleting rows with 'custid' greater than 91 and drop the 'Sales.USACusts' view."

In [ ]:
-- Notice that you can insert a row through the view
-- Drop the existing view if it exists
IF OBJECT_ID('Sales.USACusts', 'V') IS NOT NULL
    DROP VIEW Sales.USACusts;
GO

-- Create the view with schema binding
CREATE VIEW Sales.USACusts
AS
SELECT
  CustomerId, CustomerCompanyName AS companyname,
  CustomerContactName AS contactname, CustomerContactTitle AS contacttitle,
  CustomerAddress AS address, CustomerCity AS city, CustomerRegion AS region,
  CustomerPostalCode AS postalcode, CustomerCountry AS country,
  CustomerPhoneNumber AS phone, CustomerFaxNumber AS fax
FROM Sales.Customer
WHERE CustomerCountry = N'USA';
GO

-- Add CHECK OPTION to the view
ALTER VIEW Sales.USACusts WITH SCHEMABINDING
AS
SELECT
  CustomerId, CustomerCompanyName AS companyname,
  CustomerContactName AS contactname, CustomerContactTitle AS contacttitle,
  CustomerAddress AS address, CustomerCity AS city, CustomerRegion AS region,
  CustomerPostalCode AS postalcode, CustomerCountry AS country,
  CustomerPhoneNumber AS phone, CustomerFaxNumber AS fax
FROM Sales.Customer
WHERE CustomerCountry = N'USA'
WITH CHECK OPTION;
GO

-- Notice that you can't insert a row through the view
/*
INSERT INTO Sales.USACusts(
  companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax)
 VALUES(
  N'Customer FGHIJ', N'Contact FGHIJ', N'Title FGHIJ', N'Address FGHIJ',
  N'London', NULL, N'12345', N'UK', N'012-3456789', N'012-3456789');
*/
GO

-- Cleanup
DELETE FROM Sales.Customer
WHERE CustomerId > 91;

-- Drop the view
DROP VIEW IF EXISTS Sales.USACusts;
GO